@charset "UTF-8";
/*
1:Posicionamiento
2:Modelo de caja (box model)
3:Tipografia
4:Visuales
5: Otros
 */
/*Implementamos nuestras las variables de colores, en ESTE PROYECTO*/
:root {
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --strong-grey: #8b8383;
  --off-white: #faf8f7;
  --just-white: #fff;
  --background: #774069;
  --green: #c3efe3;
  --violet: #57457d;
  --soft-violet: #625387;
  --hue: 322;
  /* Correspondiente a #774069 */
  --chroma: 40;
  /* Saturation */
  --lightness: 50;
  /* Lightness */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--chakra-fonts-heading);
  font-weight: var(--chakra-fontWeights-bold);
}

.background {
  background-color: var(--background);
}

.background_ {
  background-color: var(--background);
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.background_online {
  background-color: var(--background);
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  opacity: 0.8;
}

.p_footer {
  opacity: 0.4;
}

/*nav*/
/*middle-mariposa*/
.hamburgues_menu {
  display: none;
}

.middle-mariposa {
  height: 65vh;
  opacity: 0.15;
  position: fixed;
  left: 2%;
  top: 21%;
  transform: translate(-5%);
  z-index: -1;
}

.background_header {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: fixed;
  width: 100%;
  background: rgba(32, 32, 35, 0.5019607843);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: background 0.3s, color 0.3s;
  /* Transiciones suaves */
}

.background_header.scrolled {
  background: #B19CDF;
  /* Nuevo color de fondo */
  color: #fff;
  /* Nuevo color de fuente */
}

.background_header.scrolled nav a {
  /* Si necesitas cambiar el color de los enlaces del nav */
  color: #fff;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.div-logo_nav {
  display: flex;
  align-items: center;
}

.div-logo_nav h1 {
  color: var(--background);
  font-weight: 700;
  font-family: cursive;
  margin-right: 1.3rem;
  width: 100%;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

nav {
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/*logo-imagen del header*/
.logo-img {
  transition: transform 0.5s;
  /* Agrega una transición suave para que la rotación sea gradual */
}

.logo-img:hover {
  transform: rotate(45deg);
  /* O la cantidad de rotación que desees */
}

/*SECTION DESCRIPTION*/
.section-despcription {
  background-color: var(--background);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 70px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--just-white);
}

.div-descrition {
  background-color: #550841 !important;
  padding: 15px;
  border-radius: 10px;
  margin-top: 85px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.img-mail {
  position: fixed;
  right: 3%;
  bottom: 2%;
  transform: translate(-5%);
  z-index: -1;
  background: #B19CDF;
  border-radius: 50%;
  width: 5%;
  padding: 0.8%;
  transition: transform 0.2s;
  /* Añadir transición para suavizar */
}

.img-mail:hover {
  animation: shake 0.5s;
  /* Aplica la animación de sacudida */
  animation-iteration-count: infinite;
  /* Repite la animación infinitamente mientras se hace hover */
}

.div-name_photo__yael {
  display: flex;
  justify-content: space-between;
  width: 459px;
  margin-top: 32px !important;
}

.div-name_photo__yael h2 {
  font-family: var(--chakra-fonts-heading);
  font-family: cursive;
  font-size: var(--chakra-fontSizes-3xl);
}

.div-photo_yael {
  border-width: 2px #fff;
  border-style: solid;
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

.div-photo_yael img {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 50%;
}

.div_work {
  height: 400px;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_description__work {
  width: 450px;
}

.main_description__work p {
  text-align: justify;
  text-indent: 1em;
  font-family: var(--chakra-fonts-heading);
  color: white;
  border-radius: 50%;
}

h3 {
  text-decoration: underline 4px rgb(82, 82, 82);
  text-underline-offset: 6px;
  font-family: var(--chakra-fonts-heading);
  font-weight: var(--chakra-fontWeights-bold);
  font-size: 20px;
  color: white;
}

.conteneiner_h3 {
  width: 485px;
  text-indent: 1em;
  text-decoration: underline 4px rgb(82, 82, 82);
  text-underline-offset: 6px;
}

.conteneiner_h3 h3 {
  color: white;
}

/*pop up*/
.modal {
  position: fixed;
  top: 12%;
  left: 100%;
  width: 25rem;
  height: 30.5rem;
  z-index: 1;
  border-radius: 10px;
  background-color: #B19CDF;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  border: 4px solid #fff;
}

.modal-show {
  transform: translateX(-105%);
}

.modal-hide {
  transform: translateX(0);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* Asegura que el contenido tome toda la altura del modal */
  padding-bottom: 60px;
  /* Añade espacio para el botón fijo */
  overflow-y: auto;
  /* Permite el desplazamiento vertical */
}

.close {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}

.contengo_imagen_popup {
  margin-bottom: 10%;
  padding: 1rem;
}

.img_yael_y_sucafe {
  width: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15%;
  margin-bottom: 10%;
}

.img_yael_y_sucafe > h2 {
  font-size: 10rem !important;
}

.conteiner-labels {
  background-color: #774069;
  padding: 3%;
  border-radius: 10px;
  color: var(--just-white);
}

#form {
  width: 100% !important;
  display: flex;
  flex-direction: column;
}

.conteneiner-nombre_mail,
.conteneiner-nombre,
.conteneiner-email,
.conteinder_asunto {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input,
textarea,
button {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}

textarea {
  overflow: scroll;
}

.button-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 25rem;
  /* Ajusta el tamaño máximo del botón */
  display: flex;
  justify-content: center;
}

.button__send {
  background-color: var(--warm-black);
}

.button__send:hover {
  background-color: var(--soft-violet);
}

/*box of skills*/
.box {
  width: 120px;
  height: 120px;
  color: var(--background);
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 50%;
  border: 10px solid rgba(119, 64, 105, 0.8) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box p {
  color: inherit;
}

/*works*/
/*vista completa*/
.conteneiner_cards_of_works {
  background-color: rgba(119, 64, 105, 0.8) !important;
  padding: 120px;
}

/*contenedor de las card*/
.conteneiner_cards_of_works {
  background-color: var(--violet);
  padding: 120px;
}

/* Contenedor de las cards */
.conteneiner_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.conteneiner_cards > *:nth-child(odd) {
  transform: translateY(50px);
}

/* Estilos de las cards */
.container {
  width: 100%;
  max-width: 400px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 4px solid #fff;
  margin: 0 auto;
}

.cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 1;
}

.img-card {
  width: 100%;
  height: 100%;
}

.information {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--off-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}

.tarjetita {
  text-decoration: none;
  color: var(--off-white);
}

.tarjetita h3 {
  margin: 0 0 30px 0;
  color: var(--off-white);
}

.tarjetita h3:hover {
  color: #550841;
}

.tarjetita p {
  margin: 0;
  color: white;
}

.box-skill {
  padding: 0.5%;
  background-color: #B19CDF;
  margin-top: 2%;
}

.img-prototipo {
  height: 374px;
}

.conteiner-card_skills {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.box-filtro {
  display: flex;
  gap: 10%;
}

.filtro {
  background-color: #774069;
  border-radius: 10px;
  border: 4px solid #fff;
  color: var(--just-white);
  margin-bottom: 5%;
  padding: 1.2%;
}

.seleccionado {
  background-color: var(--soft-violet);
  color: var(--just-white);
}

/*bio */
.main-bio {
  width: 485px;
  color: var(--off-white);
}

.main-bio h3 {
  margin-bottom: 10px;
  text-decoration: underline 4px rgb(82, 82, 82);
  text-underline-offset: 6px;
  font-family: var(--chakra-fonts-heading);
  font-weight: var(--chakra-fontWeights-bold);
  font-size: 20px;
  color: white;
}

.div_span {
  padding-left: 3.4em;
  text-indent: -3.4em;
}

.span {
  font-weight: bold;
  margin-right: 1em;
}

.background_skills {
  width: 100%;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle at left, lch(var(--lightness) var(--chroma) var(--hue)), lch(var(--lightness) var(--chroma) var(--hue)) 15%, lch(calc(var(--lightness) - 10) var(--chroma) var(--hue)) 15%, lch(calc(var(--lightness) - 20) var(--chroma) var(--hue)) 40%, lch(calc(var(--lightness) - 10) var(--chroma) var(--hue)) 40%, lch(calc(var(--lightness) - 20) var(--chroma) var(--hue)) 60%, lch(calc(var(--lightness) - 10) var(--chroma) var(--hue)) 60%, lch(calc(var(--lightness) - 30) var(--chroma) var(--hue)) 70%, lch(calc(var(--lightness) - 40) var(--chroma) var(--hue)) 70%);
}

.background_skills > div {
  display: flex;
  padding: 120px;
}

/*i love */
.pharagraph_love {
  color: var(--just-white) !important;
}

/*buttons  */
.buttons {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--just-white);
}

.buttons:hover {
  background-color: var(--green);
  padding: 8px;
  border-radius: 10px;
  width: fit-content;
}

.icon {
  margin-right: 5px;
}

li {
  list-style-type: none;
  border-radius: 0;
  margin-bottom: 20px;
}

.title {
  color: var(--just-white);
}

.main_description__work h3 {
  margin-bottom: 10px;
}

.img-nube {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.background_footer {
  --s: 220px;
  /* control the size */
  --c1: #fff;
  --c2: #774069;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  --_g: radial-gradient(#0000 60%, var(--c1) 61% 63%, #0000 64% 77%, var(--c1) 78% 80%, #0000 81%);
  --_c:, #0000 75%, var(--c2) 0;
  background: conic-gradient(at 12% 20% var(--_c)) calc(var(--s) * 0.44) calc(0.9 * var(--s)), conic-gradient(at 12% 20% var(--_c)) calc(var(--s) * -0.06) calc(0.4 * var(--s)), conic-gradient(at 20% 12% var(--_c)) calc(0.9 * var(--s)) calc(var(--s) * 0.44), conic-gradient(at 20% 12% var(--_c)) calc(0.4 * var(--s)) calc(var(--s) * -0.06), var(--_g), var(--_g) calc(var(--s) / 2) calc(var(--s) / 2) var(--c2);
  background-size: var(--s) var(--s);
}

/*Medias querys*/
@media (max-width: 968px) {
  /*cards*/
  .conteneiner_cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 90px;
  }
  .background_skills > div {
    padding: 15%;
    width: 100vw;
    display: flex;
    align-content: center;
    align-items: center;
  }
  .conteneiner_cards_of_works {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .hamburgues_menu {
    display: block;
  }
  nav {
    display: none;
  }
  .icon_hamburgues {
    width: 3%;
  }
  .box-filtro {
    display: flex;
    gap: 10%;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .main-bio,
  .div-name_photo__yael,
  .main_description__work,
  .conteneiner_h3,
  .modal,
  .background_skills > div,
  .container,
  .conteiner-card_skills {
    width: 100%;
  }
  .div-descrition {
    margin: 2rem;
  }
  .div-name_photo__yael {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .background_skills > div {
    padding: 20px;
  }
  .modal {
    padding: 2%;
  }
  .div-name_photo__yael {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
  }
  figure {
    display: none;
  }
  .img_yael_y_sucafe {
    display: none;
  }
  .modal {
    position: fixed;
    top: 15%;
    left: 100%;
    /* Inicialmente fuera de la pantalla a la derecha */
    width: 100%;
    height: 450px;
    padding: 2%;
    z-index: 1;
    color: var(--black);
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    /* Transición suave */
  }
  .main-bio {
    width: 100vw;
  }
  .main_description__work {
    padding: 5%;
  }
}

/*# sourceMappingURL=output.css.map */
